body {
    margin: 0 auto;
    max-width: 60em;
    font-family: "Arial";
    line-height: 1.5;
    padding: 4em 1em;
    color: #555;
}

.post-title{
    font-size:1rem;
}

header{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #7e72b3;
    width:100%;
    margin: 0 auto;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
    }

h1, h2 {
    color: #333;
}

a {
    color: #7e72b3;
}